/* Add this CSS code to your style.css file */
.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-list,
.nav-list-2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin-right: 40px;
    color: black;
    cursor: pointer;
}

.nav-list-2 li:first-child {
    margin-right: 50px;
}

.nav-list-2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-list-2 li {
    color: black;
    cursor: pointer;
    margin-right: 30px;
}

.rightNav {
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 20px;
    background: url('images/eye\ glass.png') no-repeat left center;
    background-size: 15px;
    background-color: #f7fafa;
    width: 150px;
    height: 20px;
}

body {
    font-family: "Futura Now Headline Condensed Medium", sans-serif;
}

h1.log-in {
    text-align: center;
    text-size-adjust: 30px;
}

.login-form {
    margin-top: 20px;
    text-align: center;
}

.form-group {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
}

.checkbox-label {
    vertical-align: right;
    margin-right: 250px;
    left: 250px;
}

.checkbox {
    width: 20px;
    height: 20px;
    vertical-align: left;
    margin-left: -10px;
}

.forgot-password {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 150px;
    top: -27px;
}

.forgot-password{
    text-decoration: underline gray;
}

.login-button {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.btn {
    background-color: black;
    color: white;
    width: 520px;
    height: 70px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    left: 12px;
}

.btn:hover {
    background-color: #333;
}

.signup-text {
    text-decoration: none;
    color: black;
}

.signup-link:hover {
    text-decoration: underline;
}
